.dir-rtl,
.rtl {
  direction: rtl !important;
}

.dir-ltr,
.ltr {
  direction: ltr !important;
}

body {
  overflow-x: hidden !important;
}

html {
  overflow-x: hidden !important;
}

.vpd-input-group {
  height: 100%;
}